:root {
    --white: #fff;
    --gray: #eee;
    --red: #e53935;
    --black: #212121;
}

* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.pokeball {
    display: block;
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;
    background: linear-gradient(to bottom,
            var(--red),
            var(--red) 48%,
            var(--black) 48%,
            var(--black) 55%,
            var(--white) 55%);
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 12px 5px 0 rgba(0, 0, 0, 0.2);
}

.pokeball::before {
    content: "";
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
    width: 17px;
    height: 20px;
    rotate: -45deg;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
}

.pokeball::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    background-color: var(--white);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid var(--black);
    box-shadow: -7px -3px 0 rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease-in-out;
}

.pokeball:hover:after {
    animation: blink 0.9s ease-in-out infinite;
}

.pokeball:hover {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0% {
        transform: translateX(0) rotate(0);
    }

    15% {
        transform: translateX(-10px) rotate(-10deg);
    }

    40% {
        transform: translateX(-15px) rotate(-15deg);
    }

    60% {
        transform: translateX(15px) rotate(15deg);
    }
}

@keyframes blink {
    0% {
        background-color: var(--white);
        box-shadow: -7px -3px 0 rgba(0, 0, 0, 0.2);
    }

    50% {
        background-color: var(--red);
        box-shadow: -7px -3px 0 rgba(0, 0, 0, 0);
    }

    100% {
        background-color: var(--white);
        box-shadow: -7px -3px 0 rgba(0, 0, 0, 0.2);
    }
}


.e404 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 120px;
    font-weight: bold;
    color: var(--white);
    text-shadow: 0 0 10px var(--black);
}