@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*{
  color: #fff;
}

.centerxy{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mcolor{
  background-color: #121212;
}
.scolor{
  background-color: #212121;
}
.s2color{
  background-color: #1D1D1D;
}
.excolor{
  background-color: yellow;
}



@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader {
  display: none;
  border: 6px solid red;
  border-radius: 100%;
  border-top-color: #1D1D1D;
  border-bottom-color: #1D1D1D;
  width: 50px;
  height: 50px;
  animation: loading 1.5s infinite linear;
}

.sbpc {
  flex-direction: column;
  background-color: #707070;
  overflow: hidden;
  animation: pulse 1.5s infinite;
}

.sipc {
  background-color: #494949;
}

@keyframes pulse {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.1;
  }
}
